html{
	scroll-behavior: smooth;
}
body{
	background-color: rgb(245,245,245);
	color: rgb(40,40,40);
	font-family: 'Roboto Slab', serif;
}
.wrapper {
	text-align: center;
	display: grid; 
}
nav{
	background-color: rgb(7, 204, 253);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
@media screen and (max-width: 450px){
	.wrapper{
		grid-template-columns: 0% 100% 0%;
		grid-template-rows: 75px auto auto 15px;
	}
}
@media screen and (min-width: 450px){
	.wrapper{
		grid-template-columns: 10% 80% 10%; 
		grid-template-rows: 50px auto auto 15px; 
		row-gap: 10px;
	}
}
@media screen and (min-width: 730px){
	.wrapper{
		grid-template-columns: 18% 64% 18%;
		grid-template-rows: 20px auto auto 15px;
		row-gap: 18px;
	}
}
@media screen and (min-width: 1400px){
	.wrapper{
		grid-template-columns: 24% 52% 24%;
		grid-template-rows: 20px auto auto 15px;

	}
}
@media screen and (min-width: 2000px){
	.wrapper{
		grid-template-columns: 24% 52% 24%;
		grid-template-rows: 20px auto auto 15px;
	}
}
footer{
	grid-column: 1/4;
	grid-row: 4;
	text-align: inherit;
}
nav a{
	color: rgb(248, 245, 245);
	text-decoration: none;
	margin: 5px 20px;
	font-size: 22px;
	font-weight: 900;
	display: inline-block;
}
.header{
	background-color: rgb(223, 82, 228);
	background-size: 100%;
	grid-column: 2/3;
	grid-row: 1/2; 
}
.header h1{
	font-family: 'Source Code Pro', monospace;
	text-align: left;
	margin: 5% 0 0 15px;
}
#about{
	grid-column: 2/3;
	grid-row: 2/3;
}
.about-img{
	display: grid;
	grid-template-columns: 10% 40% 40% 10%;
	column-gap: 2px;
}
.about-img img{
	width: 100%;
	grid-column: 3/4;
	border: 2px solid #303030;	
}
.about-img i{
	font-size: x-large;
	display: inline-grid;
	grid-column: 2/3;
	align-self: center;
}
#about h1, #about h5{
	margin: 0;
	padding: 2px;
}
#about h1{
	margin-top: 20px;
}
#about p{
	margin: 1em 3em;
}
li{
	list-style: none;
}
img{
	width: 90%;

}
.img-link{
	display: block;
	text-align: center;
}
.item{
	margin: 5% 15%;
	text-align: left;
	border-bottom: 2px solid rgb(40,40,40);
	border-bottom-width: 70%; 
}
.pro-link{
	text-decoration: none;
	color: rgb(40,40,40);
	padding: 3px
}
.righty{
	display: block;
	text-align: right;
}
#projects{
	grid-column: 2/3;
	grid-row: 3/4;
}
