html{
	scroll-behavior: smooth;
}
body{
	background-color: rgb(245,245,245);
	color: rgb(40,40,40);
}
.wrapper {
	text-align: center;
	display: grid; 
}
nav{
	background-color: rgb(0, 81, 202);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
@media screen and (max-width: 450px){
	.wrapper{
		grid-template-columns: 10% 80% 10%;
		grid-template-rows: 50px auto auto 15px;
	}
}
@media screen and (min-width: 450px){
	.wrapper{
		grid-template-columns: 10% 80% 10%; 
		grid-template-rows: 75px auto auto 15px; 
		row-gap: 10px;
	}
}
@media screen and (min-width: 1000px){
	.wrapper{
		grid-template-columns: 18% 64% 18%;
		grid-template-rows: 100px auto auto 15px;
		row-gap: 18px;
	}
}
@media screen and (min-width: 1400px){
	.wrapper{
		grid-template-columns: 24% 52% 24%;
		grid-template-rows: 125px auto auto 15px;

	}
}
@media screen and (min-width: 2000px){
	.wrapper{
		grid-template-columns: 24% 52% 24%;
		grid-template-rows: 150px auto auto 15px;
	}
}
footer{
	grid-column: 1/4;
	grid-row: 4;
	text-align: inherit;
}
nav a{
	color: rgb(248, 245, 245);
	text-decoration: none;
	margin: 10px;
	font-size: 22px;
}
nav a:hover{
	color: rgb(223, 82, 228);
}
.header{
	background-color: rgb(223, 82, 228);
	background-size: 100%;
	grid-column: 2/3;
	grid-row: 1/2; 
}
.header h1{
	font-family: 'Source Code Pro', monospace;
	text-align: left;
	margin: 5% 0 0 15px;
}
#about-container{
	grid-column: 2/3;
	grid-row: 2/3;
	background-color: rgb(255,143,0);
}
#about{
	grid-column: 2/3;
	grid-row: 2/3;
}
#about h1, #about h5{
	margin: 0;
	padding: 2px;
}
#about h1{
	margin-top: 20px;
}
#about p{
	margin: 1em 3em;
}
#projects-container{
	grid-column: 2/3;
	grid-row: 3/4;	
	background-color: rgb(6, 184, 6);
}
li{
	list-style: none;
}
.item{
	margin: 5% 15%;
	text-align: left;
	border-bottom: 2px solid rgb(40,40,40);
	border-bottom-width: 70%; 
}
.pro-link{
	text-decoration: none;
	color: rgb(40,40,40);
	padding: 3px
}
.righty{
	display: block;
	text-align: right;
}
#projects{
	grid-column: 2/3;
	grid-row: 3/4;
}