html{
	scroll-behavior: smooth;
}
body{
	background-image: linear-gradient(to right bottom, #59705a, #76836b, #93977e, #b0ab93, #cdc0ab);
}
.wrapper {
	text-align: center;
	display: grid;
}
@media screen and (max-width: 450px){
	.wrapper{
		grid-template-columns: 10% 80% 10%;
		grid-template-rows: 150px auto auto 15px;
	}
}
@media screen and (min-width: 450px){
	.wrapper{
		grid-template-columns: 10% 80% 10%; 
		grid-template-rows: 200px auto auto 15px; 
	}
}
@media screen and (min-width: 1000px){
	.wrapper{
		grid-template-columns: 18% 64% 18%;
		grid-template-rows: 300px auto auto 15px;
	}
}
@media screen and (min-width: 1400px){
	.wrapper{
		grid-template-columns: 24% 52% 24%;
		grid-template-rows: 450px auto auto 15px;
	}
}
@media screen and (min-width: 2000px){
	.wrapper{
		grid-template-columns: 24% 52% 24%;
		grid-template-rows: 800px auto auto 15px;
	}
}
footer{
	grid-column: 1/4;
	grid-row: 4;
	text-align: inherit;
}
nav{
	background-color: #375C64;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
nav a{
	color: white;
	text-decoration: none;
	margin: 10px;
	font-size: 22px;
}
nav a:hover{
	color: #F8EAE8;
}
.header{
	background-image: url("./banner.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	grid-column: 1/4;
	grid-row: 1/2; 
}
#about-container{
	grid-column: 1/4;
	grid-row: 2/3;
	background-image: linear-gradient(to right bottom, #263827, #46533f, #686f59, #8b8d75, #b0ab93);
}
#about{
	grid-column: 2/3;
	grid-row: 2/3;
}
#about h1, #about h5{
	margin: 0;
	padding: 2px;
}
#about p{
	margin: 1em;
}
.about-head{
}
#projects-container{
	grid-column: 1/4;
	grid-row: 3/4;	
}
#projects{
	grid-column: 2/3;
	grid-row: 3/4;
}